/* styles.css */

/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-family: sans-serif;
}

/*@font-face {
	font-family: test;
	src: url(../fonts/BebasNeue-Regular.woff);
}*/

body {
	background-color: #1b1c23;
	color: #f4f4f4;
	line-height: 1.428;
}

/* page specific ids */

h1 {
	color: #f4f4f4;
	text-align: center;
}

h2 {
	color: #007eff;
}

table {
	width: 100%;
}

th, td, tr, tbody {

}

td {
	
}

table.cltabcus:nth-child(even) {
	background-color: #1b1e4b;
	text-align: center;
	border: 1px solid black;
}

table.cltabcus:nth-child(odd) {
	text-align: center;
	border: 1px solid black;
}

#intro {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}

#info {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}

#changelog {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}

#projects {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}

#services {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}


#contact {
	color: #f4f4f4;
	height: 100%;
	width: auto;
	overflow: scroll;
}

/* nav bar in all its glory */

nav {
	background-color: #1b1c23;
	color: #f4f4f4;
	padding-left: 20%;
	padding-right: 20%;
	position: relative;
	height: 5%;
	width: auto;
	list-style-type: none;
}

nav li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
}

nav a:link {
	border-radius: 5%;
	margin: 0 1%;
	padding: 1% 1%;
	font-size: 85%;
	color: #f4f4f4;
	text-decoration: none;
}

nav a:hover {
	background-color: #007eff;
	color: #000000;
}

nav .current {
	background-color: #007eff;
	color: #000000;
}

nav .left {
	display: inline;
	position: relative;
	width: 4.3%;
	float: left;
}

nav .right {
	padding-top: 1%;	
	display: inline;
	width: 75%;
	float: right;
}

nav .navhead {
	padding-left: 2%;
	width: auto;
	height: auto;
	display: inline;
	vertical-align: middle;
}

/* smart device nav bar */

.navcont {
	height: auto;
	width: auto;
	color: white;
	display: none;
}

.navmain {
	overflow: hidden;
	background-color: #1b1c23;
	position: relative;

}

.navmain #navitems {
	display: none;
}

.navmain a.icon {
	background: #000;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.navmain a {
	color: #f4f4f4;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.navmain a:visited {
	color: #f4f4f4;	
}

.active {
	background-color: #007eff;
	color: #f4f4f4;
}

.navlogo {
	padding-left: 2%;
}

/* index related ids and classes */

#parallax {
	height: 1000px;
	width: 100%;
	background-image: url("../images/parallax.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header {
	padding-top: 5%;
	height: auto;
	width: auto;
}

.logo {
	text-align: center;
}

.heading {
	height: 10%;
	width: 100%;
	text-align: center;
	text-shadow: 50px solid black;
	font-size: 120%;
}

.subheading {

}

/* Universal classes */

.pagehead {
	border-bottom: 1px solid #f4f4f4;
	height: auto;
	width: 100%;
	list-style-type: none;
	padding-bottom: 40px;
	margin-right: 10%;
}

.pageleft {
	color: #007eff;
	font-size: 175%;
	float: left;
}

.pageright {
	color: #f4f4f4;
	font-size: 150%;
	float: right;
}

.infohead {
	border: 1px solid #494949;
	background-color: #262831;
	border-radius: 3px;
	display: block;
	height: 100%;
	width: auto;
	padding: 1.75% 1.75%;
}

.infobody {
	background-color: #18191f;
	border: 1px solid #494949;
	border-radius: 3px;
	display: block;
	padding: 1.75% 1.75%;
}

.infobody ul {
	padding-left: 5%;
}


/* info classes */

#infomain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	height: auto;
	width: auto;
}

.infotop {
	height: 100%;
	width: 100%;
}

.infobottom {
	height: 100%;
	max-width: 100%;
	text-align: center;
	vertical-align: middle;
}

/* info pic divs */
 Services
.pic1 {
	display: inline;
	padding: 5%;
}

.pic2 {
	display: inline;
	padding: 5%;
}

.pic3 {
	display: inline;
	padding: 5%;
}

/* Changelog classes */

#clmain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

#cltable {
	display: block;
	width: 100%;
}

.cltabcus {
	display: block;
	empty-cells: hide;
	width: 100%;
}

table.cltabcus tr, table.cltabcus td, table.cltabcus tbody {
	display: block;
}

table.cltabcus td {
	padding-top: 1%;
	padding-bottom: 1%;
}

/* Projects classes */

#projmain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

/* Services classes */

#servmain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

/*#servtable {
	display: block;
	width: 100%;
}*/

table.servtab {
	height: 100%;
	width: 99.5%;	
	table-layout: fixed;
}

table.servtab th, table.servtab tr, table.servtab td, table.servtab tbody {
	vertical-align: middle;
}

table.servtab td {
	padding-top: 1%;
	padding-bottom: 1%;
}

/*#servleft {
	text-align: right;
	float: left;
	width: 9%;
	height: 100%;
	display: inline;
}

#servright {
	text-align: left;
	float: right;
	width: 90.5%;
	height: 100%;
	display: inline;
}*/

/* Contact classes */

#contmain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

/* Hyperlink related items */

a:link {
	color: #f4f4f4;
	text-decoration: none;
	outline: 0;
}

a:active {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	color: #007eff;
}

a:visited {
	color: #f4f4f4;	
}

/* Resizing options */

@media screen and (max-width:992px) {

	#navlogo {
		width: 100%;
		padding-left: 0%;
		
	}

	nav {
		display: none;
	}
	
	.navcont {
		display: block;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;	
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: inline;
	}
	
	#projmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
}

@media screen and (max-width: 768px) {

	.navlogo {
		width: 100%;
		padding-left: 0%;
	}
	
	nav {
		display: none;
	}
	
	.navcont {
		display: block;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: inline;
	}

	#projmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

}

@media screen and (max-width: 600px) {

	.navlogo {
		width: 100%;
		padding-left: 0%;
	}

	nav {
		display: none;
	}

	nav a {
		font-size: 74.5%;
		color: #f4f4f4;
	}
	
	.navcont {
		display: block;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: none;
	}

	#projmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

}

@media screen and (max-width: 300px) {

	.navlogo {
		width: 100%;
		padding-left: 0%;
	}

	nav a {
		font-size: 74.5%;
		color: #f4f4f4;
	}
	
	.navcont {
		display: block;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: none;
	}
	
	#projmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}


	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

}
