/* styles.css */

/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-family: sans-serif;
}

/*@font-face {
	font-family: test;
	src: url(../fonts/BebasNeue-Regular.woff);
}*/

body {
	background-color: #1b1c23;
}

/* page specific ids */

h1 {
	color: #FFFFFF;
	text-align: center;
}

h2 {
	color: #007eff;
}

table {
	empty-cells: hide;
	display: block;
	width: 100%;
}

th, td, tr, tbody {
	display: block;
	width: 100%;
}

td {
	padding-top: 1%;
	padding-bottom: 1%;
}

table:nth-child(even) {
	background-color: #1b1e4b;
	text-align: center;
	border: 1px solid black;
}

table:nth-child(odd) {
	text-align: center;
	border: 1px solid black;
}

#intro {
	color: #FFFFFF;
	height: 100%;
	width: 100%;
}

#info {
	color: #FFFFFF;
	height: 100%;
	width: auto;
}

#changelog {
	color: #FFFFFF;
	height: 100%;
	width: auto;
}

#projects {
	color: #FFFFFF;
	height: 100%;
	width: auto;
	overflow: scroll;
}

#services {
	color: #FFFFFF;
	height: 100%;
	width: auto;
}


#contact {
	color: #FFFFFF;
	height: 100%;
	width: auto;
	overflow: scroll;
}

/* nav bar in all its glory */

nav {
	padding-top: 2.5%;
	padding-bottom: 5%;
	position: static;
	height: 10%;
	width: 100%;
	list-style-type: none;
	text-align: center;
}

nav li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
}

nav a {
	border-radius: 7%;
	margin: 0 1%;
	padding: 1% 1%;
	font-size: 85%;
	color: #FFFFFF;
	text-decoration: none;
}

nav a:hover {
	background-color: #FFFFFF;
	color: #000000;
}

nav .current {
	background-color: #FFFFFF;
	color: #000000;
}

.navlogo {
	height: 5%;
	width: auto;
	padding-left: 20%;	
	padding-bottom: 5%;
}

/* index related ids and classes */

#parallax {
	height: 1000px;
	width: 100%;
	background-image: url("../images/parallax.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header {
	padding-top: 5%;
	height: auto;
	width: auto;
}

.logo {
	text-align: center;
}

.heading {
	height: 10%;
	width: 100%;
	text-align: center;
	text-shadow: 50px solid black;
	font-size: 120%;
}

.subheading {

}

/* info classes */

#infomain {
	padding-top: 2.5%;
	padding-left: 20%;
	padding-right: 10%;
	height: auto;
	width: auto;
}

.infoleft {
	height: 100%;
	width: 55%;
	float: left;
	display: inline;
	padding-bottom: 5%;
}

.inforight {
	height: 100%;
	width: 45%;
	float: right;
	display: inline;
	text-align: center;
}

/* info pic divs */

.pic1 {
	padding: 5%;
}

.pic2 {
	padding: 5%;
}

.pic3 {
	padding: 5%;
}

/* Changelog classes */

#clmain {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

#cltable {
	display: block;
	width: 100%;
}


/* Projects classes */

#projmain {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

#projtable {
	display: block;
	width: 100%;
}


/* Services classes */

#servmain {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

#servtable {
	display: block;
	width: 100%;
}

/* Contact classes */

#contmain {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

/* Hyperlink related items */

a:link {
	text-decoration: none;
	outline: 0;
}

a:active {
	color: #1b1b1b;
	text-decoration: none;
}

a:hover {
	color: #007eff;
}

a:visited {
	
}

/* Resizing options */

@media screen and (max-width:992px) {

	#navlogo {
		width: 100%;
		padding-left: 0%;
		
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;	
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: inline;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
}

@media screen and (max-width: 768px) {

	.navlogo {
		width: 100%;
		padding-left: 0%;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: inline;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

}

@media screen and (max-width: 600px) {

	.navlogo {
		width: 100%;
		padding-left: 0%;
	}
	
	nav a {
		font-size: 74.5%;
		color: #FFFFFF;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: none;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

}

@media screen and (max-width: 300px) {

	.navlogo {
		width: 100%;
		padding-left: 0%;
	}

	nav a {
		font-size: 74.5%;
		color: #FFFFFF;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: none;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

}
