/* styles.css */

/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-family: sans-serif;
}

/*@font-face {
	font-family: test;
	src: url(../fonts/BebasNeue-Regular.woff);
}*/

body {
	background-color: #1b1c23;
	color: #f4f4f4;
	line-height: 1.428;
}

/* page specific ids */

h1 {
	color: #f4f4f4;
	text-align: center;
}

h2 {
	color: #007eff;
}

table {
	width: 100%;
}

hr {
	border-bottom: 2px solid #f4f4f4;
	margin: 16px auto;
	width: 50px;
}


hr:not([size]) {
	height: 1px;
}

td {
	
}

table.cltabcus:nth-child(even) {
	background-color: #1b1e4b;
	text-align: center;
	border: 1px solid black;
}

table.cltabcus:nth-child(odd) {
	text-align: center;
	border: 1px solid black;
}

#intro {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}

#info {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}

#changelog {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}

#projects {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}

#services {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}


#contact {
	color: #f4f4f4;
	height: 100%;
	width: auto;
}

/* nav bar in all its glory */

nav {
	background-color: #1b1c23;
	color: #f4f4f4;
	padding-left: 20%;
	padding-right: 20%;
	position: relative;
	height: 60px;
	width: auto;
	list-style-type: none;
}

nav li {
	display: inline;
	font-weight: bold;
}

nav a:link {
	border-radius: 5%;
	margin: 0 1%;
	padding: 1% 1%;
	font-size: 85%;
	color: #f4f4f4;
	text-decoration: none;
}

nav a:link:hover {
	/*background-color: #007eff;*/
	color: #1a8bff;
	transition: color 0.5s ease-out, box-shadow 0.5s ease-out;
	border-bottom: 1px solid currentColor;
}

nav .left {
	display: inline;
	position: absolute;
	width: 285px;
	float: left;
}

nav .right {
	padding-top: 22.5px;	
	display: inline;
	width: 67.7%;
	float: right;
}

nav .navhead {
	padding-left: 2%;
	width: auto;
	height: auto;
	display: inline;
}

/* smart device nav bar */

.navcont {
	height: auto;
	width: auto;
	color: white;
	display: none;
}

.navmain {
	overflow: hidden;
	background-color: #1b1c23;
	position: relative;

}

.navmain #navitems {
	display: none;
}

.navmain a.icon {
	background: #000;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.navmain a {
	color: #f4f4f4;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
	display: block;
}

.navmain a:hover {
	background-color: #1a8bff; 	
	color: #f4f4f4;
	transition: color 0.5s ease-out, box-shadow 0.5s ease-out;
}

.navmain a:hover:not(.active) {
	background-color: #1a8bff;
	color: #1b1c23;

}

.active {
  background-color: #007eff;
  color: #000;
}

.navmain a:visited {
	color: #f4f4f4;	
}

.navlogo {
	padding-left: 2%;
}

/* index related ids and classes */

#parallax {
	height: 1000px;
	width: 100%;
	background-image: url("../images/parallax.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header {
	padding-top: 5%;
	height: auto;
	width: auto;
}

.logo {
	text-align: center;
}

.heading {
	height: 10%;
	width: 100%;
	text-align: center;
	text-shadow: 50px solid black;
	font-size: 120%;
}

.subheading {

}

/* Universal classes */

.pagehead {
	border-bottom: 1px solid #f4f4f4;
	height: auto;
	width: 100%;
	list-style-type: none;
	padding-bottom: 40px;
	margin-right: 10%;
}

.pageleft {
	color: #007eff;
	font-size: 175%;
	float: left;
}

.pageright {
	color: #f4f4f4;
	font-size: 150%;
	float: right;
}

.infohead {
	border: 1px solid #494949;
	background-color: #262831;
	border-radius: 3px;
	display: block;
	height: 100%;
	width: auto;
	padding: 15px 20px;
}

.infobody {
	background-color: #18191f;
	border: 1px solid #494949;
	border-radius: 3px;
	display: block;
	padding: 15px 20px;
}

.infobody ul {
	padding-left: 5%;
}

footer {
	height: 50px;
	width: 100%;
	padding-top: 20px;
	vertical-align: middle;
	text-align: center;
}

footer a {
	padding: 15px;
}

footer a:hover {
	color: #007eff;
	transition: color 0.5s ease-out, box-shadow 0.5s ease-out;
}

/* info classes */

#infomain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	height: auto;
	width: auto;
}

.infotop {
	height: 100%;
	width: 100%;
}

.infobottom {
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 50px;
}

/* info pic divs */
 
.pic1 {
	display: inline;
	padding: 5%;
}

.pic2 {
	display: inline;
	padding: 5%;
}

.pic3 {
	display: inline;
	padding: 5%;
}

/* Changelog classes */

#clmain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

#cltable {
	display: block;
	width: 100%;
}

.cltabcus {
	display: block;
	empty-cells: hide;
	width: 100%;
}

table.cltabcus tr, table.cltabcus td, table.cltabcus tbody {
	display: block;
}

table.cltabcus td {
	padding-top: 1%;
	padding-bottom: 1%;
}

/* Projects classes */

#projmain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

/* Services classes */

#servmain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

/*#servtable {
	display: block;
	width: 100%;
}*/

table.servtab {
	height: 100%;
	width: 99.5%;	
	table-layout: fixed;
}

table.servtab th, table.servtab tr, table.servtab td, table.servtab tbody {
	vertical-align: middle;
}

table.servtab td {
	padding-top: 1%;
	padding-bottom: 1%;
}

/*#servleft {
	text-align: right;
	float: left;
	width: 9%;
	height: 100%;
	display: inline;
}

#servright {
	text-align: left;
	float: right;
	width: 90.5%;
	height: 100%;
	display: inline;
}*/

/* Contact classes */

#contmain {
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	height: auto;
	width: auto;
}

/*.form {
  border-radius: 5px;
  padding: 20px;
}

.form label {
	font-weight: bold;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #494949;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #f4f4f4;
  background-color: #1b1c23;
}

input[type=submit] {
  background-color: #007eff;
  color: #f4f4f4;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0065CC;
  color: #000;
}

*/

/* Hyperlink related items */

li a:hover:not(.current) {
  /*background-color: #555;*/
  color: #007eff;
}

li a.current {
  /*background-color: #007eff;*/
  color: #007eff;
}

a:link {
	color: #f4f4f4;
	text-decoration: none;
	outline: 0;
}

a:active {
	color: #f4f4f4;
	text-decoration: none;
}

/*a:hover {
	color: #007eff;
}*/

a:visited {
	color: #f4f4f4;	
}

a.emphasis:hover {
	color: #077eff;
	transition: color 0.5s ease-out, box-shadow 0.5s ease-out;	
}

/* Resizing options */

@media screen and (max-width:1414px) {
	
	nav .navhead {
		display: none;
	}
	
	navhead {
		display: none;
	}
	
	nav .left {
		width: 0px;	
	}
	
	nav .right {
		width:	80.7%;
	}
	
	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;	
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: inline;
	}
	
	#projmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
}

@media screen and (max-width:992px) {

	#navlogo {
		width: 100%;
		padding-left: 0%;
		
	}

	nav {
		display: none;
	}
	
	.navcont {
		display: block;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;	
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: inline;
	}
	
	#projmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
}

@media screen and (max-width: 768px) {

	.navlogo {
		width: 100%;
		padding-left: 0%;
	}
	
	nav {
		display: none;
	}
	
	.navcont {
		display: block;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: inline;
	}

	#projmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

}

@media screen and (max-width: 600px) {

	.navlogo {
		width: 100%;
		padding-left: 0%;
	}

	nav {
		display: none;
	}

	nav a {
		font-size: 74.5%;
		color: #f4f4f4;
	}
	
	.navcont {
		display: block;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: none;
	}

	#projmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

}

@media screen and (max-width: 300px) {

	.navlogo {
		width: 100%;
		padding-left: 0%;
	}

	nav a {
		font-size: 74.5%;
		color: #f4f4f4;
	}
	
	.navcont {
		display: block;
	}

	#infomain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.infoleft {
		width: 100%;
	}
	
	.inforight {
		width: 100%;
		padding-top: 0%;
	}

	.pic1 {
		display: inline;
	}

	.pic2 {
		display: inline;
	}
	
	.pic3 {
		display: none;
	}
	
	#projmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}


	#servmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#clmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	
	#contmain {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
}
